<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="error-view">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }
        </style>

        Oops you hit a 404. <a href="[[rootPath]]">Head back to home.</a>

    </template>

    <script>
        /**
         * `error-view` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ErrorView extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'error-view';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                };
            }

        }

        window.customElements.define(ErrorView.is, ErrorView);
    </script>
</dom-module>