<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="single-lab-order">
    <template>
        <style>
            :host {
                display: flex;
                align-items: center;
            }

            .details-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                flex: 1;
                @apply --single-lab-order-details-container;
            }

            .subtitle {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.54);
            }

            .title {
                color: rgba(0, 0, 0, 0.87);
            }

            .profile-picture {
                width: 40px;
                height: 40px;
                background: #555;
                border-radius: 50%;
                margin: 16px;
                object-fit: cover;
            }

            iron-icon {
                margin: 16px;
                color: var(--accent-color);
            }
        </style>

        <img src={{order.image}} class=profile-picture></img>
        <div class=details-container>
            <div class=title>{{order.name}}</div>
            <div class=subtitle>{{date}}</div>
            <div class=subtitle>{{_computeShortId(order.__id__)}}</div>
        </div>

        <template is="dom-if" if={{_computeShouldShowIcon(finished,showFinishedIcon)}}>
            <iron-icon icon="my-icons:pending"></iron-icon>
        </template>

    </template>

    <script>
        /**
         * `single-lab-order` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class SingleLabOrder extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'single-lab-order';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    order: Object,
                    date: String,
                    finished: {
                        type: Boolean,
                        value: false,
                        notify: false
                    },
                    showFinishedIcon: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _computeShouldShowIcon(finished,shouldShowIcon) {
                return (shouldShowIcon && !finished)
            }

            _computeShortId(id) {
                if (!id) return;
                return (id ? id.slice(-6) : '');
            }

        }

        window.customElements.define(SingleLabOrder.is, SingleLabOrder);
    </script>
</dom-module>